<section class="home">
    <h2>Bem-vinda ao sistema do Salão Bevilyn</h2>
    <p>Organize serviços, clientes e agendamentos com facilidade.</p>

    <div class="botoes-home">
        <a href="/servicos" class="botao">Serviços</a>
        <a href="/clientes" class="botao">Clientes</a>
        <a href="/agendamentos" class="botao">Agendamentos</a>
    </div>
</section>
